<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <div class="col-sm-12 select-table" th:if="${detailList != null}">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <table class="table table-striped table-bordered table-hover " id="add-order-table">
                        <thead>
                        <tr>
                            <th>客户编码</th>
                            <th>编码描述</th>
                            <th>价格[含税]</th>
                            <th>已交数</th>
                            <th>未交数</th>
                            <th>总数</th>
                            <th>金额</th>
                        </tr>
                        </thead>
                        <tbody id="add-order-table-body">
                        <tr th:each="item:${detailList}">
                            <td><span th:utext="${item.pnCode}"></span></td>
                            <td><span th:utext="${item.pnRemark}"></span></td>
                            <td><span th:utext="${item.unitPrice}"></span></td>
                            <td><span th:utext="${item.deliveredNum}"></span></td>
                            <td><span th:utext="${item.undeliveredNum}"></span></td>
                            <td><span th:utext="${item.totalNum}"></span></td>
                            <td><span th:utext="${item.totalPrice}"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 select-table" th:if="${detailList == null}">
        <h1>未找到相关订单信息</h1>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:inline="javascript">
    // 关闭窗口
    function submitHandler() {
        $.modal.close();
    }
</script>
</body>
</html>
