<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<div class="col-sm-12 select-table">
		<input type="hidden" id="outType" name="outType" th:value="${outType}">
		<div class="row">
			<div class="col-sm-3">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>客户退货单</h5>
					</div>
					<div class="ibox-content">
						<form role="form" id="form-page-add">
							<div class="form-group">
								<label class="col-sm-12 control-label" style="margin-top: 10px;">客户：</label>
								<div class="col-sm-12">
									<select style="width: 100%" id="cusId" class="form-control" name="cusId"
											onchange="customerChange(this)"
											th:with="customer = ${@customer.selectCustomerListByComId(1)}">
										<option value="-1">请选择</option>
										<option th:each="item : ${customer}" th:data-id="${item.id}"
												th:data-phone="${item.cusPhone}"
												th:data-address="${item.cusAddress}" th:text="${item.cusName}"
												th:value="${item.id}"></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-12 control-label" style="margin-top: 10px;">联系方式：</label>
								<div class="col-sm-12">
									<input type="text" id="cusPhone" class="form-control"
										   name="cusPhone"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-12 control-label" style="margin-top: 10px;">收货地址：</label>
								<div class="col-sm-12">
                                    <textarea id="cusAddress" rows="4" class="form-control" type="text"
											  name="cusAddress"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-12 control-label" style="margin-top: 10px;">备注信息：</label>
								<div class="col-sm-12">
                                    <textarea id="remark" class="form-control" rows="4" type="text"
											  name="remark"></textarea>
								</div>
							</div>
							<div class="form-group">
								<div style="width: 100%;text-align: center;">
									<a class="btn btn-primary btn-rounded btn-sm" style="margin-top: 15px"
									   onclick="submitHandler()"><i class="fa fa-save"></i>&nbsp;生成退货单</a>
									<a class="btn btn-primary btn-rounded btn-sm" style="margin-top: 15px"
									   onclick="addProduct()"><i class="fa fa-plus"></i>&nbsp;添加详情数据</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-sm-9">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>退货单明细</h5>
					</div>
					<div class="ibox-content">
						<table class="table table-striped table-bordered table-hover " id="add-order-table">
							<thead>
							<tr>
								<th>客户编码</th>
								<th>价格[含税]</th>
								<th>订单号</th>
								<th>订单总数</th>
								<th>已交数量</th>
								<th style="width: 180px">本次退货数量</th>
								<th>合计</th>
								<th>操作</th>
							</tr>
							</thead>
							<tbody id="add-order-table-body">
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:include="include::footer"></div>
<script th:inline="javascript">
	var prefix = ctx + "factory/outOrder"
	$("#form-order-add").validate({
		rules: {
			xxxx: {
				required: true,
			},
		}
	});

	/**
	 * 客户选择改变
	 * */
	function customerChange(e) {
		var item = $(e).val();
		$("#add-order-table-body").find("tr").remove();
		if (item != -1) {
			$("#cusPhone").val($(e).find("option:selected").attr("data-phone"));
			$("#cusAddress").val($(e).find("option:selected").attr("data-address"));
		} else {
			$("#cusPhone").val("");
			$("#cusAddress").val("");
		}
	}

	function submitHandler() {
		// 客户信息
		var cusId = $("#cusId").find("option:selected").val();
		if (cusId == "" || cusId <= 0) {
			$.modal.alertWarning("请选择客户");
			return;
		}
		//封装订单主表信息
		var remark = $("#remark").val();//备注信息
		var data = {
			outType: $("#outType").val(),
			cusId: cusId,
			remark: remark
		}
		//封装下单详情
		var detail = [];
		var checkCodeNum = 0;
		//封装下单详情
		$("#add-order-table-body").find("tr").each(function () {
			var item = {};
			var pnCode = $(this).find("td").find("select[name='pnCode']").val();//客户编码
			var orderCode = $(this).find("td").find("select[name='orderCode']").val();//订单信息
			if (pnCode && pnCode != -1 && orderCode && orderCode != -1 ) {
				item.pnCode = pnCode; // 客户编码
				item.orderCode = orderCode; // 订单编号
				item.outType = $("#outType").val(); // 类型
				item.cusId = cusId; // 客户id
				item.pnPrice = $(this).find("td").find("input[name='pnPrice']").val();//单价
				item.pnRemark = $(this).find("td").find("select[name='pnCode']").find("option:selected").attr("data-product-remark");//产品描述
				item.pnUnit = $(this).find("td").find("select[name='pnCode']").find("option:selected").attr("data-product-unit");//产品单位
				item.orderId = $(this).find("td").find("select[name='orderCode']").find("option:selected").attr("data-order-id");//订单id
				item.outNumber = $(this).find("td").find("input[name='outNumber']").val();//出库数量
				item.totalPrice = $(this).find("td").find("input[name='totalPrice']").val();//出库金额
				if (item.outNumber <= 0) {
					checkCodeNum ++;
				}
				detail.push(item);
			}
		});
		if (detail.length <= 0) {
			$.modal.alertWarning("请添加出库单明细")
			return;
		};
		if (checkCodeNum > 0) {
			$.modal.alertWarning("请检查数量是否填写正确")
			return;
		}
		data.detailList = detail;
		// 保存客户退货单信息
		var config = {
			url: prefix + "/add",
			type: "post",
			dataType: "json",
			contentType: 'application/json',
			data: JSON.stringify(data),
			beforeSend: function () {
				$.modal.loading("正在处理中，请稍后...");
				$.modal.disable();
			},
			success: function (result) {
				if (result.code == web_status.SUCCESS) {
					$.modal.confirm("下单成功",function () {
						$("#add-order-table-body").find("tr").remove();
					});
				} else {
					$.modal.alertError(result.msg);
				}
				$.modal.closeLoading();
			}
		};
		$.ajax(config)
	}

	/**
	 * 添加产品
	 */
	function addProduct() {
		var cusId = $("#cusId").find("option:selected").val();
		if (cusId == "" || cusId <= 0) {
			$.modal.alertWarning("请选择客户");
			return;
		}
		// 通过客户选择客户对应的产品信息
		var item = [];
		$.post(ctx + "factory/codeInfo/selectPnCodeListByCusId", {cusId: cusId}, function (res) {
			if (res && res.code == web_status.SUCCESS) {
				var data = res.data;
				item.push("<option value='-1' >请选择</option>")
				for (var i = 0; i < data.length; i++) {
					item.push("<option value='" + data[i].pnCode + "' data-product-id='" + data[i].id + "' " +
							"data-product-remark='" + data[i].pnRemark + "' data-product-unit='" + data[i].pnUnit + "' " +
							" data-product-price='" + data[i].pnPrice + "'>" + data[i].pnCode + "</option>")
				};
				var textDetail = '<tr>' +
						'<td><select name="pnCode" class="selectpicker show-tick form-control"  data-live-search="true" ' +
						'style="min-width: 180px;" onchange="productChange(this)" >' + item +
						'</select></td>' +
						'<td><input name="pnPrice" class="form-control" type="text" readonly="true"></td>' +
						'<td><select name="orderCode" class="selectpicker show-tick form-control" onchange="changeOrder(this)"></select></td>' +
						'<td><input name="totalNum" class="form-control" type="text" readonly="true"></td>' +
						'<td><input name="undeliveredNum" class="form-control" type="text" readonly="true"></td>' +
						'<td><input name="outNumber" class="form-control" type="number" value="0" onchange="numberChange(this)"></td>' +
						'<td><input name="totalPrice"  readonly="true" value="0.00" class="form-control" type="number"></td>' +
						'<td><a  class="btn btn-danger btn-rounded btn-sm" onclick="removeRow(this)"><i></i>&nbsp;删除</a></td>' +
						'</tr>';
				$("#add-order-table-body").append(textDetail);
				$("#add-order-table-body select").select2({
					width: "180px",
				});
			} else {
				$.modal.alertWarning("操作异常");
			}
		})
	}

	/**
	 * 产品选择改变
	 * @param val
	 */
	function productChange(val) {
		// 每次选择改变前清空上次数据
		$(val).parent("td").siblings("td").find("select[name='orderCode']").find("option").remove(); // 移除订单下拉框选项
		$(val).parent("td").siblings("td").find("input[name='undeliveredNum']").val("0");
		$(val).parent("td").siblings("td").find("input[name='totalNum']").val("0");
		$(val).parent("td").siblings("td").find("input[name='pnPrice']").val("0.00");
		$(val).parent("td").siblings("td").find("input[name='outNumber']").val("0");
		$(val).parent("td").siblings("td").find("input[name='totalPrice']").val("0.00");
		var item = [];
		// 获取对应客户对应产品的订单信息
		if ($("#cusId").val() != -1 && $(val).find("option:selected").val() != -1) {
			$(val).parent("td").siblings("td").find("input[name='pnPrice']").val($(val).find("option:selected").attr("data-product-price"));
			$.post(ctx +"factory/orderDetail/selectOrderBackByPnCode", {
				cusId: $("#cusId").val(), pnCode: $(val).find("option:selected").val()
			}, function (res) {
				if (res && res.code == 0) {
					var data = res.data;
					item.push("<option value='-1' >请选择</option>")
					for (var i = 0; i < data.length; i++) {
						item.push("<option value='" + data[i].orderCode + "' data-order-id='" + data[i].id + "' " +
								"data-order-devnum='" + data[i].deliveredNum + "' data-order-totalnum='" + data[i].totalNum + "' " +
								" data-order-price='" + data[i].unitPrice + "'>" + data[i].orderCode + "</option>")
					};
					$(val).parent("td").siblings("td").find("select[name='orderCode']").append(item); // 添加
				} else {
					$.modal.alertWarning("操作异常")
				}
			})
		} else {
			// 每次选择改变前清空上次数据
			$(val).parent("td").siblings("td").find("select[name='orderCode']").find("option").remove(); // 移除订单下拉框选项
			$(val).parent("td").siblings("td").find("input[name='undeliveredNum']").val("0");
			$(val).parent("td").siblings("td").find("input[name='totalNum']").val("0");
			$(val).parent("td").siblings("td").find("input[name='pnPrice']").val("0.00");
			$(val).parent("td").siblings("td").find("input[name='outNumber']").val("0");
			$(val).parent("td").siblings("td").find("input[name='totalPrice']").val("0.00");
		}
	}
	/**
	 * 订单选择改变
	 * @param val
	 */
	function changeOrder(val) {
		// 订单选择改变清空上次数据
		$(val).parent("td").siblings("td").find("input[name='undeliveredNum']").val("0");
		$(val).parent("td").siblings("td").find("input[name='totalNum']").val("0");
		$(val).parent("td").siblings("td").find("input[name='outNumber']").val("0");
		$(val).parent("td").siblings("td").find("input[name='totalPrice']").val("0.00");

		if ($(val).val() != -1) {
			$(val).parent("td").siblings("td").find("input[name='undeliveredNum']").val($(val).find("option:selected").attr("data-order-devnum"));
			$(val).parent("td").siblings("td").find("input[name='totalNum']").val($(val).find("option:selected").attr("data-order-totalnum"));
		} else {
			$(val).parent("td").siblings("td").find("input[name='undeliveredNum']").val("0");
			$(val).parent("td").siblings("td").find("input[name='totalNum']").val("0");
			$(val).parent("td").siblings("td").find("input[name='outNumber']").val("0");
			$(val).parent("td").siblings("td").find("input[name='totalPrice']").val("0.00");
		}
	}

	/**
	 * 数量改变
	 * @param val
	 */
	function numberChange(val) {
		var outNum = $(val).val();
		var undeliveredNum = $(val).parent("td").siblings("td").find("input[name='undeliveredNum']").val(); // 已交数量
		if (outNum < 0) {
			$(val).parent("td").find("input[name='outNumber']").val(0);
			outNum = 0;
		}
		if ( parseInt(outNum) > parseInt(undeliveredNum)) {
			$(val).parent("td").find("input[name='outNumber']").val(undeliveredNum);
			outNum = undeliveredNum;
		}
		var price = $(val).parent("td").siblings("td").find("input[name='pnPrice']").val();
		if (price) {
			$(val).parent("td").siblings("td").find("input[name='totalPrice']").val((parseFloat(price).toFixed(2) * parseInt(outNum)).toFixed(2));
		} else {
			$(val).parent("td").siblings("td").find("input[name='totalPrice']").val("0.00");
		}
	}

	/**
	 * 移除产品
	 * @param val
	 */
	function removeRow(val) {
		$(val).parent("td").parent("tr").remove();
	}
</script>
</body>
</html>
